
:root {
    --primary-color: #1d8dca;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.container {
    max-width: 350px;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    border: 1px solid #eee;
    border-radius: 4px;
    position: relative;
}

.container img {
    width: 45px;
}

.container h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
}

form input {
    margin-bottom: 20px;
    width: calc(100% / 2 + 100px);
    height: 40px;
    padding-left: 15px;
    outline: none;
    font-size: 16px;
    border: 2px solid #eee;
    border-radius: 4px;
}

form input:focus {
    border-color: var(--primary-color);
}

.container input[type='submit'] {
    margin-bottom: 20px;
    width: calc(100% / 2 + 100px);
    height: 40px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    background: var(--primary-color);
}

.container .forgot {
    width: calc(100% / 2 + 100px);
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.footer {
    background: #eee;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    font-size: 14px;
}
